.navbar {
    width: 100%;
    position:fixed;
    top: 0;
}
.navbar-container{
    width: 100vw;
    height: 80px;
    padding-inline: 40px;
    background-color: rgb(31, 31, 31);
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap:25px;
/*     box-shadow: 1px 2px 8px #c705c7a9;
 */    
    font-size: 0.8rem;
    margin: auto;
    
}

.navbar-ul a{
    height: 1.5rem;
}
.navbar-ul a:hover{
    border-bottom: rgb(151, 25, 151) 2px solid;
}
.navbar-container {
    display: flex;
    justify-content: start;
    align-items: center;
    flex:1;
    gap: 60px;
}
.logo {
    width: 50px;
    max-width: 50px;
    height: 50px;
}

.navbar-ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap:2rem;
    
}
.navbar-li h2{
    color: rgb(202, 201, 201);
    letter-spacing: 2px;
    font-size: 1.1rem;
}


