.navbar {
    width: 100%;
    position:fixed;
    top: 0;
    z-index: 20000;
    box-shadow: rgba(226, 12, 12, 0.4) 0px 2px 4px, rgba(248, 30, 212, 0.3) 0px 7px 13px -3px, rgba(253, 106, 253, 0.2) 0px -3px 0px inset;
}
.navbar-container{
    width: 100%;
    height: 80px;
    padding-inline: 40px;
    background-color: rgb(8, 8, 8);
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap:25px;   
    font-size: 0.8rem;
    margin: auto;
    
}
.links-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap:2rem;
    
}
.links-container a {
    height: 100%;
}
.links-container a h2{
    font-size: clamp(.8rem, 3vw, 1.4rem);
}
.links-container a:hover h2{
    color: rgb(194, 193, 193);
}
.navbar-container {
    display: flex;
    justify-content: start;
    align-items: center;
    flex:1;
    gap: 60px;
}
.logo {
    width: 50px;
    max-width: 50px;
    height: 50px;
}


.link h2{
    color: rgb(202, 201, 201);
    letter-spacing: 2px;
    font-size: 1.1rem;
}

.selectedPage { 
    border-bottom: #e43871 2px solid;
}

@media (width<400px){
    .navbar-container{
        gap:10px;
    }
    .links-container{
        flex:1;
        gap:10px;
        justify-content: space-evenly;
        align-items: center;
    }
    .navbar-container{
        
        padding-inline: 20px;
    }
}