.category-container {
    width: 100%;
    max-width: 1600px;
    margin: auto;
    padding-bottom:5px;
    padding: 0px 20px;
} 
.header-container {
    font-size: clamp(1.2rem, 2vw, 1.9rem);
    display: flex;
    justify-content: space-between;
    padding: .9rem 0rem;
    margin-bottom: 2rem;
    background:
    linear-gradient(
      to left, 
      #e4387113 0%,
      #f56d9a57 40%,
      #f5568b8c 60%,
      #eb306ec2 90%,
    #ce0648 100%
    )
    left 
    bottom
    no-repeat; 
    background-size:100% 2px; 
}

.header-container a {
    display: block;
    width: fit-content;
    font-size: 12px;
    color:rgb(167, 166, 166);
    align-self: end;
   
}

.header-container a:hover svg {
    margin-left: 4px;
}

.header-container h2 {
    width: fit-content;
    display: flex;
    justify-content: start; 
}

.header-container h2 svg {
    width: 28px;
    padding-left: 10px;
   
}

.buttons-container {
    margin-top: -15px;
    display: flex;
    justify-content: start;
    gap: 2rem;
}

.button {
color: rgb(58, 58, 58);
margin-bottom: 20px;
padding:5px;
font-size: clamp(.8rem, 2vw, 1.3rem);
}

.isSelected {
color: black;  
font-weight: bold;
}

.button:hover {
    color: black;    
}

.category-wrapper {
    width: 100%;
    max-width: 1600px;
    min-height: 1000px;
    margin: auto;
    margin-top: 1rem;
    padding-bottom:5px;
    width: 100%;
    margin: auto;
 }
 .total-pages-details {
    margin-left: auto;
    color:#ce0649ea;
    margin-bottom: 10px;
}
.total-pages-details>h3{
    color:#5e5d5dea;
    font-size: 1.2rem;

}

.movies-container {

    width: 100%;
    display: flex;
    justify-content: start;
    align-items: start;
    gap:.7rem;
    flex-wrap: wrap;
}
.movies-container a:hover .movie-image {
    transition: all ease-out;
    transition-duration: 250ms;
    transform: scale(99%);
}

.movie-container {
    flex-basis: 18%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    margin-bottom: 10px;
}

.movie-image-container {
    min-width: 130px;
    width: 100%;
    
}

.movie-title-container h2 {
    font-size: clamp(.9rem, 2vw, 1.2rem); 
    border-left: 4px solid rgb(152, 6, 172);
    padding: .4rem 1rem;
    line-clamp: 2; 
}
.movie-details {
    width: 100%;
    min-width: 150px;
    height: 7rem;
    padding: 0px 5px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap:5px;
    background-color: rgba(0, 0, 0, 0);
    overflow: hidden;
}
.movie-ratings {
    display: flex;
    justify-content: start;
    align-items: center;
    font-size: clamp(1rem, 2vw, 1.35rem); 
}
.movie-ratings h3 {
    color: rgb(59, 59, 59);
}
.movie-ratings>div>svg {
    color: rgb(226, 167, 5);
    width: 1.2rem;
    margin-left: 2px;
    padding-bottom: 4px;

}
.movie-ratings span {
    padding-left: .3rem;
    font-size: .8rem;
    color: rgb(134, 134, 134);
    
}

.movie-title {
    font-size: clamp(1.3rem, 2vw, 1.7rem); 
}

.no-results-container {
    background-color: rgb(190, 186, 186);
    width: 100%;
    height: 500px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.no-results-container button:hover {
    background-color: #ce0648;
}
.no-results-container h3 {
    font-size: 3rem;
    color: #ce0648;
}

.no-results-container img {
    width: 100px;
    height: 100px;
    color: #ce0648;
}

.pages-container {
    margin-top: 20px;
    width: 100%;
    font-size: clamp(.8rem, 3vw, 1.5rem); 
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}
.pages-container svg {
    width: 25px;
    margin: auto;
    font-size: clamp(.8rem, 3vw, 1.5rem); 
    color: #ce0648;
}

.pages-container span {
    color:black;
    padding-inline: 20px;
}
@media (width<1200px){
    .movie-container {
        flex-basis: 23.5%;
    }
}
@media (width<890px){  
    .movie-container {
        flex-basis: 32%;
    }
}

@media (width<600px){
    .movie-container {
        flex-basis: 47%;
    }

}
@media (width<360px){
    .movies-container {
        flex-direction: column;
        gap:50px;     
    }

    .movie-container {
        flex-basis: 100%;
    }

}