.error-container {
    width: 100%;
    padding: 100px;
    background-color: gray;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.error-container h2{
    font-size: 4rem;
    color: #e43871;
}

.error-container h3{
    font-size: 1.5rem;
    color: #000000;
    cursor: pointer;
}
