.footer{
    
    height: 80px;
    background-color: black;
    margin-top: 100px;
    margin-left: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.footer h2 {
    color: rgb(155, 153, 153);
    font-size: 1rem;
    letter-spacing: 1px;
    
}
@media (width<1700px){
    .footer {
        margin-left: 350px;
    }
    
   
}

@media (width<1050px){
    .footer {
        width: 100%;
        margin-left: 0;
    }
    
}

